@font-face {
  font-family: 'jf-openhuninn-1.1';
  src: url('../font/jf-openhuninn-1.1.ttf') format("truetype");
}

html{
  font-family: 'jf-openhuninn-1.1';
}

p{
  color: #262626;
}

div{
  display: block;
}
.body {
  box-sizing: border-box;
  width: 100%;
  background-color: #f4e5b9;
  margin: 0em;
  padding: 0em;
}

/*-- header --*/
.title_header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 124px;
  background-color: #f4e5b9;
  margin-bottom: 10px;

  position: fixed;
  top: 0;
  width: 100%;
  margin: 0px auto;
  box-shadow: 0px 0px 10px #808080;
  z-index: 100;
}

.logo {
  margin-left: 5px;
}

.header_link {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.header_link_item {
  font-size: 28px;
  font-family: 'Fira Sans', sans-serif;
  color: #262626;
  text-decoration: none;
  margin: 0px 0px;
  margin-bottom: 10px;
}

.menu_link {
  margin-right: 60px;
}

.album_link {
  margin-right: 60px;
}

.aboutus_link {
  margin-right: 40px;
}
/*-- container --*/
.container {
  width: 100%;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}
/*-- basic_introduce --*/

.main_image {
  width: 100%;
  height:600px;
  margin: 0rem 0rem;
  margin-bottom: 100px;
}

.big_block{
  width:80%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: auto;
  margin-bottom: 100px;
}

.small_block{ 
  width:40%;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 100px;
} 

.left{
  padding-right: 0px;
}
 .right{
   padding-right: 100px;
 }

.small_title{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.small_text{
  font-size: 20px;
  text-align: left;
}


.big_block img{
  width: 600px;
  height: 300px;
}
.big{
  font-size: 20px;
}

.medium_block
{
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 100px;
  width:50%;
  flex-direction: column;
  justify-content: space-around;
}

/*-- footer --*/
.footer{
  width: 940px;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.footer_itembox {
  display: flex;
  justify-content: space-between;
}

.footer_item {
  width: 16rem;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600;
}

.footer_business_hour {
  width: 33%;
  float: right;
  font-family: 'Fira Sans', sans-serif;
  color: #000000;
}

.business_hour {
  text-align: left;
  margin-left: 3.4rem;
}

.footer_button {
  display: flex;
}

.call_button {
  width: 5rem;
  text-align: left;
  background-color: #ddaa44;
  color: #ffffff;
}

.search_button{
  width: 5rem;
  text-align: left;
  background-color: #ddaa44;
  color: #ffffff;
  margin-left: 16rem;
}

.footer_databox {
  display: flex;
}

.footer_data {
  text-align: left;
}

.footer_data_address {
  margin-left: 15.5rem;
}
