@font-face {
  font-family: 'jf-openhuninn-1.1';
  src: url('../font/jf-openhuninn-1.1.ttf') format("truetype");
}

html{
  font-family: 'jf-openhuninn-1.1';
}

p{
  color: #262626;
}

div{
  display: block;
}
.body {
  box-sizing: border-box;
  width: 100%;
  background-color: #f4e5b9;
  margin: 0em;
  padding: 0em;
}

/*-- header --*/
.title_header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  background-color: #f4e5b9;
  margin-bottom: 10px;

  position: fixed;
  top: 0;
  width: 100%;
  margin: 0px auto;
  box-shadow: 0px 0px 10px #808080;
  z-index: 100;
}

.logo {
  margin-left: 5px;
  width: 15rem;
  height: 6rem;
}

.header_link {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.header_link_item {
  font-size: 28px;
  font-family: 'Fira Sans', sans-serif;
  color: #262626;
  text-decoration: none;
  margin: 0px 0px;
  margin-bottom: 10px;
}

.line_separate_vertical {
  width: .2rem;
  height: 1.5rem;
  background-color: #000000;
  margin-top: auto;
  margin-bottom: 0.8rem;
  margin-left: 1.8rem;
  margin-right: 1.8rem;
}

.aboutus_link {
  margin-right: 40px;
} 
/*-- container --*/
.container {
  width: 100%;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}
/*-- basic_introduce --*/

.main_image {
  width: 100%;
  height:600px;
  margin: 0rem 0rem;
  margin-bottom: 100px;
}

.big_block{
  width:60%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: auto;
  margin-bottom: 100px;
}

.small_block{ 
  width:40%;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 60px;
} 

.left{
  padding-right: 0px;
}
 .right{
   padding-right: 60px;
 }

.small_title{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.small_text{
  font-size: 20px;
  text-align: left;
}


.big_block img{
  width: 500px;
  height: 300px;
}
.big{
  font-size: 20px;
}

.medium_block
{
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 100px;
  width:50%;
  flex-direction: column;
  justify-content: space-around;
}

/*-- footer --*/
.contact_us {
  margin-left: 2.5rem;
  width:60%;
  
}

.footer_itembox {
  display: flex;
  justify-content: space-between;
}

.footer_item {
  width: 16rem;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600;
  color: #e9dfc4;
}

.footer_button {
  display: flex;
}

.call_button {
  width: 5rem;
  text-align: left;
  background-color: #ddaa44;
  color: #ffffff;
}

.search_button{
  width: 5rem;
  text-align: left;
  background-color: #ddaa44;
  color: #ffffff;
  margin-left: 15rem;
}

.footer_databox {
  display: flex;
}

.footer_data {
  text-align: left;
}

.footer_data_address {
  margin-left: 13.2rem;
}
.footer_business_hour {
  width: 33%;
  float: right;
  color: #000000;
}

.business_hour {
  text-align: left;
  margin-left: 2.7rem;
}
/*-- footer --*/
footer {
  width: 100%;
  margin-left: 0px;
  height: auto;
  background-color: #262626;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 0px;
  justify-content: center;
  align-content: center;
}
.inline{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.footer {
  font-family: 'jf-openhuninn-1.1';
  font-size: 16px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 11px;
  letter-spacing: normal;
  text-align: center;
  color: #e9dfc4;
}
  

.page_title {/*-- page title --*/
  font-size: 2rem;
  margin: 0px;
  padding: 0px;
  margin-bottom: 2rem;
  color: #e9dfc4;
}

.white{
  color: #e9dfc4;
}