.body {
  box-sizing: border-box;
  width: 100%;
  background-color: #f4e5b9;
  margin: 0em;
  padding: 0em;
}

/*-- header --*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-width: 1px 0px 3px 0px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #ffffff;
  box-shadow: 0px 0px 5px #808080;
  background-color: #6c211e;
}

.headerbox {
  display: flex;
  align-items: center;
  margin: 0px 0px;
  padding-left: 5rem;
}

.coffee_icon {
  max-width: 2rem;
  max-height: 2rem;
}

.header_title {
  font-size: 1.5rem;
  color: #ddaa44;
  margin-left: 0.5rem;
}

.header_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.menu_image {
  max-width: 1rem;
  max-height: 1rem;
  margin-right: 0.8rem;
}

.header_link_item {
  font-size: 1.5rem;
  font-family: 'Fira Sans', sans-serif;
  color: #ddaa44;
  text-decoration: none;
  margin: 0px 0px;
}

.menu_link {
  width: 10rem;
  height: 2.2rem;
  margin-right: 1rem;
}

.aboutus_link {
  width: 10rem;
  height: 2.2rem;
  margin-right: 1rem;
}
/*-- container --*/
.container {
  width: 100%;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}
/*-- basic_introduce --*/

.main_image {
  width: inherit;
  height:600px;
  margin: 0rem 0rem;
}






/*-- footer --*/
.footer{
  width: 940px;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.footer_itembox {
  display: flex;
  justify-content: space-between;
}

.footer_item {
  width: 16rem;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600;
}

.footer_business_hour {
  width: 33%;
  float: right;
  font-family: 'Fira Sans', sans-serif;
  color: #000000;
}

.business_hour {
  text-align: left;
  margin-left: 3.4rem;
}

.footer_button {
  display: flex;
}

.call_button {
  width: 5rem;
  text-align: left;
  background-color: #ddaa44;
  color: #ffffff;
}

.search_button{
  width: 5rem;
  text-align: left;
  background-color: #ddaa44;
  color: #ffffff;
  margin-left: 16rem;
}

.footer_databox {
  display: flex;
}

.footer_data {
  text-align: left;
}

.footer_data_address {
  margin-left: 15.5rem;
}