@font-face {
  font-family: 'jf-openhuninn-1.1';
  src: url('../font/jf-openhuninn-1.1.ttf') format("truetype");
}

html {
  width: auto;
  height: 1280px;
  background-color: #e9dfc4;
  font-family: 'jf-openhuninn-1.1';
}

body{
  margin: 0px;
}

.title_header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  height: 124px;
  background-color: #e9dfc4;
  margin-bottom: 10px;
}

.logo {
  margin-left: 5px;
}

.header_link {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.header_link_item {
  font-size: 20px;
  font-family: 'Fira Sans', sans-serif;
  color: #262626;
  text-decoration: none;
  margin: 0px 0px;
  margin-bottom: 10px;
}

.menu_link {
  margin-right: 15px;
}

.aboutus_link {
  margin-right: 40px;
}

article {
  margin-bottom: 10px;
}

.imagebackground {
  width: auto;
  display: flex;
  justify-content: center;
  align-self: center;
  height: auto;
  background-color: #262626;
}

.image_menu {
  width: auto;
  height: 487px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.resize {
  max-width: 100%;
  height: 100%;
}

.menu_title {
  margin-left: 40px;
  margin-bottom: 15px;
  font-family: Arial;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #262626;
}

.box {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.speise {
  width: 33%;
  border-radius: 3px;
  border: solid 1px #d1c7ae;
  background-color: #d1c7ae;
  color: #262626;
}

.boxtitle {
  font-size: 30px;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.commodity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.item {
  margin-left: 10px;
  font-size: 20px;
}

.additional {
  font-size: 12px;
}

.price {
  margin-right: 10px;
  font-size: 20px;
}

.thebottom {
  margin-bottom: 15px;
}

footer {
  width: auto;
  margin-left: 0px;
  height: 60px;
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 0px;
}

.footer {
  width: 302px;
  height: 11px;
  font-family: 'jf-openhuninn-1.1';
  align-content:center;
  font-size: 12px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 11px;
  letter-spacing: normal;
  text-align: left;
  color: #e9dfc4;
}